{% extends "shared/_layout.html" %}
{% block title %}Login Page{% endblock %}

{% block main_content %}
    <div class="form-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form action="/login" method="POST" class="account-form">
            <h1>Login</h1>

            <input name="email" type="text" placeholder=" Your email address" class="form-control" value="{{ email }}">
            <input name="password" type="password" placeholder=" Password" class="form-control" value="{{ password }}">
            <label class="checkbox">
                <input type="checkbox">
                Remember me
            </label>
            <button type="submit" class="btn btn-primary">Login</button>
            <div style="clear: both;"></div>

            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/account.css">
{% endblock %}