{% extends "shared/_layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main_content %}
    <div class="hero">
        <h1>Welcome Home!</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Test
                <br>
                Test
                <br>
                Test
                <br>
                Test
                <br>
                Test
                <br>
                Test
                <br>
                Test
                <br>
                Test
                <br>
                Test
                <br>
                Test
                <br>
            </div>
        </div>
    </div>


{% endblock %}